<div class="habilidades" id="skills">
	<h1 class="formulario__titulo informacion__titulo">Skills</h1>
	<!--*=========================== Imagenes de los lenguajes ===========================-->
	<div class="habilidades__content">
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/html.png" alt="Lenguaje html" />
			</div>
			<div class="habilidades__div--text">
				<p>HTML</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 3 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/css.png" alt="Lenguaje css" />
			</div>
			<div class="habilidades__div--text">
				<p>CSS</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 3 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/markdown.png" alt="Markdown" />
			</div>
			<div class="habilidades__div--text">
				<p>MARKDOWN</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 2 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img
					class="habilidades__img"
					loading="lazy"
					src="/static/img/sass.png"
					alt="Lenguajes de hoja de estilos, complemento de css" />
			</div>
			<div class="habilidades__div--text">
				<p>SASS</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent intermediate">Intermediate</div>
				</div>
				<p>Experience: 2 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/bootstrap.png" alt="Framework para css" />
			</div>
			<div class="habilidades__div--text">
				<p>BOOTSTRAP</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent intermediate">Intermediate</div>
				</div>
				<p>Experience: 2 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/figma.png" alt="Framework para css" />
			</div>
			<div class="habilidades__div--text">
				<p>FIGMA</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent intermediate">Intermediate</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/javascript.png" alt="Lenguaje javascript" />
			</div>
			<div class="habilidades__div--text">
				<p>JAVASCRIPT</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent intermediate">Intermediate</div>
				</div>
				<p>Experience: 3 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/react.png" alt="Framework de JavaScript" />
			</div>
			<div class="habilidades__div--text">
				<p>REACT</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent beginner">Beginner</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/php.png" alt="Lenguaje php" />
			</div>
			<div class="habilidades__div--text">
				<p>PHP</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 3 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/laravel.png" alt="Lenguaje java" />
			</div>
			<div class="habilidades__div--text">
				<p>LARAVEL</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent beginner">beginner</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/java.png" alt="Lenguaje java" />
			</div>
			<div class="habilidades__div--text">
				<p>JAVA</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent intermediate">Intermediate</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/python.png" alt="Lenguaje Python" />
			</div>
			<div class="habilidades__div--text">
				<p>PYTHON</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent beginner">beginner</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/MySQL.png" alt="Lenguaje MySQL" />
			</div>
			<div class="habilidades__div--text">
				<p>MYSQL</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 3 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/sql-server.png" alt="Lenguaje Sql-Server" />
			</div>
			<div class="habilidades__div--text">
				<p>SQL SERVER</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent intermediate">Intermediate</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/postgresql.png" alt="Lenguaje postgresql" />
			</div>
			<div class="habilidades__div--text">
				<p>POSTGRESQL</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent beginner">beginner</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/mongo.png" alt="Lenguaje MongoDB" />
			</div>
			<div class="habilidades__div--text">
				<p>MONGO DB</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent beginner">Beginner</div>
				</div>
				<p>Experience: 1 year</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/git.png" alt="Software de versionamiento" />
			</div>
			<div class="habilidades__div--text">
				<p>GIT</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 2 years</p>
			</div>
		</div>
		<div class="habilidades__div">
			<div class="habilidades__div--img">
				<img class="habilidades__img" loading="lazy" src="/static/img/github.png" alt="Controlador de versiones" />
			</div>
			<div class="habilidades__div--text">
				<p>GITHUB</p>
				<div class="habilidades__progress">
					<div class="habilidades__progress--porcent advanced">Advanced</div>
				</div>
				<p>Experience: 2 years</p>
			</div>
		</div>
	</div>
</div>
