<%- include('./partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center fw-bold">Page no found</h1>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>