<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="bg-dark text-white">
    <%- include('partials/header.ejs') %>
    <div class="bg-dark text-white">
        <div class="container mt mb-4">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <h1 class="text-start mt-4 overflow-hidden fw-bold">About me</h1>
                    <div class="row">
                        <div class="col-md-7 mt-4">
                            <p>I am Jhon Camargo, the person behind these lines and I belong to that generation called centennials.</p>
                            <p>I was born in one of the three most beautiful countries on Earth. There is an explosion of life there. Thousands of multicolored species in the seas, in the skies, in the lands... I grew up in the land of yellow butterflies and magic. My country is beautiful because it has the Amazon jungle, the Choco jungle, the waters, the Andes mountain ranges, and the oceans. I am Colombian.</p>
                            <p>I grew up in a world where technology innovated every day, I saw how we changed from the keypad cell phone to the Smartphone, I saw how technology was more and more present in our daily lives. Until today, where everything moves from it. I am glad to be part of this era and contribute with my knowledge.</p>
                        </div>
                        <div class="col-md-5 d-flex justify-content-center align-items-center">
                                <img src="/static/img/logo_jhon_camargo.png" loading="lazy" width="150px" class="header__logo img-fluid" alt="Logo">
                        </div>
                    </div>
                    <h2 class="text-start overflow-hidden">Personally...</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <p>In 2022 I participated in the biggest competition that Sena has, SenaSoft. It is a hackathon in which the best programmers from all over the country meet to solve a test assigned by companies in the productive sector. In this competition there were many categories, I participated in the category of free development along with a fellow programmer. The challenge we were assigned was to make a game, with which we managed to position ourselves in the number 6 position. Twenty-seven teams participated in this category.</p>
                            <p>Participating in this competition made me realize the shortcomings that I had at that time, so from the moment the hackathon ended I started working on them. I am very proud to say that I participated in SenaSoft because it was the result of my effort, love and dedication to this great industry. And although the result was not what I expected, I gained much more than what I might have lost. That's what it's all about, isn't it? Learning from failures, so I'm sure I learned from them.</p>
                            <p>I am currently doing a technologist at the Sena training center, but my study goals do not go this far, I want to do a specialization in systems engineering.</p>
                            <p>During the years that I have been a programmer I have developed different projects on my own that have served me as practice and have given me experience in this field. I don't have a defined programming language, I do very well in JAVA, PHP, Python, JavaScript, but the one I love the most is Python. Every day I learn new things, I like to be investigating new technologies, I never stop learning.</p>
                            <p>Although I don't have a degree in computer repair, my curiosity has led me to learn many things in the hardware part. I myself have learned how to do maintenance and repairs to computers, so much so that I managed to build my first gamer pc by myself. I remember that since I was a kid I have liked everything related to software and hardware.</p>
                        </div>
                    </div>
                    <h2 class="text-start overflow-hidden">Professionally...</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <p>I am a quiet person, I like to do sports, some weekends I go jogging. I like to listen to music and more than just listen to it, I like to analyze the lyrics of each song. I am very interested in listening to stories from the past, anecdotes and even more if they are taken to movies or series.</p>
                            <p>Although I do not read much, I am beginning to cultivate the habit of reading. I am a little interested in politics and although I don't know much about it I consider that it should be in every person because there is nothing more important than choosing correctly the people who will lead the country.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>