<footer>
	<div class="footer">
		<div class="footer__main">
			<a href="http://jhoncamargo.000webhostapp.com/" class="header__enlace">
				<img src="static/img/logo_jhon_camargo.png" loading="lazy" alt="" class="header__logo" />
			</a>
			<div class="footer__enlaces">
				<a href="/" onClick="{goToSection}" class="enlace__footer"> Contact </a>
				<a href="/incomplete" class="enlace__footer"> Projects </a>
				<a href="/incomplete" class="enlace__footer"> Legal notice </a>
			</div>
		</div>
		<div class="footer__secondary">
			<p>
				&#169; <%= new Date().getFullYear() + ''%> Portfolio
				<a href="http://jhoncamargo.000webhostapp.com/" class="enlace__footer"> Jhon Camargo </a> v2.0
			</p>
			<div class="footer__icons">
				<a href="/" class="icono" title="Ir a Facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="/" class="icono" title="Ir a Twitter">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="/" class="icono" title="Ir a Linkedin">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="/" class="icono" title="Ir a Github">
					<i class="fab fa-github"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
<div class="icono icono__subir" id="goToUp">
	<i class="fas fa-chevron-up"></i>
</div>
