<footer>
	<div class="footer">
		<div class="footer__main">
			<a href="http://jhoncamargo.000webhostapp.com/" class="header__enlace">
				<img src="static/img/logo_jhon_camargo.png" loading="lazy" alt="" class="header__logo" />
			</a>
			<div class="footer__enlaces">
				<a style="cursor: pointer" id="linkContactFooter" class="enlace__footer"> Contact </a>
				<a href="/incomplete" class="enlace__footer"> Projects </a>
				<a href="/incomplete" class="enlace__footer"> Legal notice </a>
			</div>
		</div>
		<div class="footer__secondary">
			<p>
				&#169; <%= new Date().getFullYear() + ''%> Portfolio
				<a href="http://jhoncamargo.000webhostapp.com/" class="enlace__footer"> Jhon Camargo </a> v2.0
			</p>
			<div class="footer__icons">
				<a href="https://github.com/JhonCamargo07" target="_blank" class="icono" title="Go to Github">
					<i class="fab fa-github"></i>
				</a>
				<a
					href="https://www.linkedin.com/in/jhon-alexander-camargo-cadena/"
					target="_blank"
					class="icono"
					title="Go to Linkedin">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
<div class="icono icono__subir" id="goToUp">
	<i class="fas fa-chevron-up"></i>
</div>
